.bg-blue{
    background-color: #4070F4;
}

.bg-light-white{
    background-color: #F5F5F5;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.section-1 {
    flex: 1;
}

.border-list{
    border: 1px solid #DDDDDD;
}

:root{
    --color-text: #ff9900;
}

*{
    box-sizing: border-box;
}

.line-inherit{
    line-height: inherit;
}

body {
    font-family: Arial, sans-serif;
}
.filter-container {
    width: 250px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.filter-title {
    font-size: 18px;
    font-weight: bold;
    color: #ff9900;
    margin-bottom: 10px;
}
.filter-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.filter-option input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ff9900;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}
.filter-option input:checked {
    background-color: #ff9900;
}
.filter-option input:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filter-option label {
    font-size: 16px;
    cursor: pointer;
}

.rounded-filter{
    border-radius: 1.125rem;
}

.mb{
    margin-bottom: 30px;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

.font-text{
    font-family: Arial, sans-serif;
}

.sort-dropdown select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .wid-2{
    width: 200px;
  }

  .text-white-1{
    color:#F8FAFC;
  }

  .inner-wrap .list-book .box{
    width: calc(100%/5 - 6px - 8px);
    border-radius: 30px;
  }

  .box:nth-child(1){
    margin-left: 30px;
  }

  .box:nth-child(10){
    margin-right: 30px;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: white; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }