@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-root{
    --rdp-accent-color: #01b0cb;
    --rdp-accent-background-color: #dffbff;
    --rdp-day_button-border-radius: 8px;
    --rdp-selected-font: bold medium var(--rdp-font-family);
  }

@layer base{

  html{
    font-family: "Poppins", "sans-serif";
  }

  body{
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}
.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #ff9900;
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(119, 119, 119); 
}

.game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@layer components {
  .input-box{
    @apply w-full text-sm bg-cyan-600/5 rounded px-5 py-3 mb-4 outline-none;
  }
  .btn-primary{
    @apply w-full text-sm font-medium text-white bg-cyan-500 shadow-lg shadow-cyan-200/50 p-[10px] rounded-full my-1 hover:bg-cyan-100 hover:text-primary; 
  }
  .icon-btn {
    @apply text-[15px] text-white cursor-pointer hover:text-red-500;
  }
  .model-box {
    @apply w-[80vw] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-14 p-5 overflow-y-scroll scrollbar z-50;
  }
  .btn-small {
    @apply flex items-center gap-1 text-xs font-medium bg-white text-black hover:text-pornhub-200 rounded px-3 py-[3px];
  }
  .btn-delete {
    @apply bg-rose-50 text-rose-500 shadow-rose-100/0 hover:bg-rose-500 hover:text-white;
  }
  .input-label {
    @apply text-xs text-slate-400;
  }
  
}

/* ct: custom.  */
.ct-top-menu-item {
  @apply cursor-pointer py-1 transition-colors hover:text-pornhub-200 relative after:transition-all after:absolute after:bottom-0 after:left-0 after:bg-orange-300 after:h-0.5 after:w-0 hover:after:w-full after:ease-in-out  after:duration-500;
}

.ct-top-menu-expand {
  @apply absolute top-10 z-50 w-full text-center bg-black animate-slideDown;
}

.ct-link {
  @apply hover:text-pornhub-200;
}

.ct-flyout-menu {
  @apply w-full text-black hover:bg-pornhub-200 hover:text-white hover:rounded-md p-3 duration-300 -z-40;;
}

.ct-subheadline {
  @apply flex justify-center items-center font-extrabold text-xl sm:text-3xl lg:text-4xl pt-6 pb-9;
}

.ct-avatar {
  @apply w-20 h-20 rounded-full object-cover block mx-auto hover:translate-y-1 hover:scale-105 duration-300;
}
